.responsive-img {
  width: 50%;
}

.position {
  display: flex;
  flex-wrap: wrap;
  background-color: #A09AC3;
}

.card-input {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14);
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-right: 1em;
}

.row {
  display: flex;
}

.collum {
  text-align: center;
  align-items: center;
}

li {
  list-style-type: none
}