/* .container {
  display: flex;
} */

/* .box {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
} */

.img {
  width: 30%;
}


.position {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
