.row-cards {
    background-color: #A09AC3;  
    padding: 20px 10px;
}

.card-img {
    margin-top: 10px;
    width: 90%;
    margin-left: 1em;
}

.card {
    background-color: #eee;
    display: flex;
    align-items: center;
    text-align: justify;
    line-height: 2;
    font-size: 18px;
}