.row-cards {
    background-color: #A09AC3;  
    padding: 20px 10px;
}

.card {
    background-color: #eee;
    display: flex;
    align-items: center;
    text-align: justify;
    line-height: 2;
    font-size: 18px;
}

.sideA {
    max-width: 500px;
}

.sideA img {
    max-width: 100%;
    height: auto;
    padding: 10px 10px;
}

.sideB {
    max-width: 750px;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

p {
    text-align: justify;
}

h1 {
    margin-top: 0px;
}