.header {
    min-height: calc(100vh - 60px);
    padding: 1.5rem 1rem 0;
    background-image: url('./background_woman.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    margin: 0;
    color: violet;
  }
  
.message {
    font-size: larger;
    color: violet;
}

@media (min-width: 992px) {
    .header {
        padding: 3rem 10% 0;
    }
}