/* 
.container {
  display: flex;
  width: 100%;
  padding: 1em;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14);
} */

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 90%;
}