.banner {
    min-height: calc(100vh - 60px);
    padding: 1.5rem 1rem 0;
    background-image: url('./background_woman.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    display: flex;
    text-align: center;
    margin-top: 9em;
    color: #FFFFFF;
  }
  
.message {
    text-align: center;
    font-size: larger;
    color: #FFFFFF;
}

.input {
    font-size: 1rem;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0.8rem;
    margin: 0 0 1rem;
    border: 1px solid black;
    border-radius: 5px;
}

.input:focus {
    outline: none;
    border-color: #9351b4;
    box-shadow: 0 0 10px #9351b4;
}

@media (min-width: 992px) {
    .banner {
        padding: 3rem 10% 0;
    }
}